body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.body-full-bg {
    background: url("../img/bg.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    width: 100%;
}
/*.logo-white {*/
/*background: url("../img/logo_white.png") center center;*/
/*-webkit-background-size: 100% 100%;*/
/*background-size: 100% 100%;*/
/*width: 100%;*/
/*height: 100px;*/
/*}*/
.logo-white {
    text-align: center;
}
.logo-white img {
    max-width: 100%;
}
.arrow {
    text-align: center;
}
.arrow.up img {
    height: 50px;
    margin-bottom: -20px;

}
.arrow.down img {
    height: 50px;
    margin-top: -20px;
}
.index-description {
    font-size: 34px;
    color: rgb( 255, 255, 255 );
    text-align: center;
    margin-top: 0;

}
input.index-input{
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    color: rgb( 127, 170, 175 );
    height: 100px;
    text-align: center;
    line-height: 70px;
    padding: 0;
}
input.index-input::-webkit-input-placeholder {
    font-size: 70px;
    font-weight: 400;
    font-style: normal;
    color: rgb( 127, 170, 175 );
    height: 100px;
    text-align: center;
}


.index-submit {
    height: 100px;
    text-align: center;
    padding: 10px;
    border: none;
    margin-top: 0 !important;
    background-color: #ff6000;
}
.index-submit:hover, .index-submit:focus, .index-submit:active, .index-submit.activated{
    background-color: #ff7504;
}
.index-submit img {
    height: 100%;
}

/* Карточки */

.time-card {
    background: url("../img/cards/card1.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    margin: 0;
    margin-bottom: 10px;
    border-radius: 0;
    height: 130px;
    padding: 0;

}
.time-card .item {
    background-color: rgba(0,0,0,.5);
    color: #ffffff;
    font-size: 30px;
    box-shadow: none;
    border-radius: 0;
    padding: 10px;
    margin: 0;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    display: block;
    vertical-align: middle;
    text-align: center;
}
.time-card .item span {
    line-height: 80%;
    margin-left: 10px;
}
.time-card .item span b {
    font-weight: 400;
}
.tag-class{
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.price{
    display: inline-block;
    float: right;
}
/* Страница 3 */

.card-plus {
    position: absolute;
    left: 43%;
    margin-top: -12px;
    z-index: 10;
    height: 48px;
    width: 48px;
    font-size: 62px;
    font-weight: bold;
    line-height: 32px;
    font-weight: 400;
    border-radius: 50%;
    background-color: #ffc900;
    color: #fff;
    text-align: center;
}
.card-plus.map {
    position: absolute;
    left: 43%;
    margin-top: -12px;
    z-index: 10;
    height: 48px;
    width: 48px;
    font-size: 42px;
    font-weight: bold;
    line-height: 25px;
    font-weight: 400;
    border-radius: 50%;
    background-color: #ffc900;
    color: #fff;
    text-align: center;
}
.title.go {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 40px;
}
.item.item-text-wrap.name {
    font-family: "Bebas Neue",Helvetica,Arial,sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 40px;
    margin-top: 3px;
    position: relative;
    color: #ffffff;
    background: url("../img/8.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
.item.item-text-wrap.price3 {
    font-family: "Thacoma", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    color: #210783;
    background: url("../img/8.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
.item.item-text-wrap.adress {
    font-family: "Thacoma", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #210783;
    background: url("../img/8.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
.item.item-text-wrap.foto3 {
    font-family: "Thacoma", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #210783;
    background: url("../img/8.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;

}
.item.item-text-wrap.foto3t {
    font-family: "Thacoma", Arial, sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #210783;
    background: url("../img/8.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
.foto {
    background: url("../img/11.jpg") no-repeat center center;
    width: 100%;
    height: 150px;
    border-radius: 6px;

}
.item.item-text-wrap.karta {
    font-family: "Thacoma", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #210783;
    background: url("../img/8.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
.page3 {
    background-color: #886aea;
    background: url("../img/2.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.item.item-text-wrap {
    background-color: transparent;
}
.card.go {
    background-color: transparent;
    border: 2px solid #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.85);
}

/* Map */

#map {
    width: 100%;
    height: 250px;
}

/* Loading */
