<!doctype html>
<html data-ng-app="CashToTime">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width,overflow-scroll=true">
    <title>CashToTime</title>

    <!--Ionic libs-->
    <link rel="stylesheet" type="text/css" href="lib/ionic/css/ionic.css">
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!--My application-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="js/mapparams.js" type="text/ng-template"></script>
</head>
<body>
<ion-nav-bar class="bar-positive nav-title-slide-ios7" align-title="center">
    <ion-nav-back-button class="button-icon ion-arrow-left-c">
    </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view class="slide-left-right"></ion-nav-view>


<script id="home.html" type="text/ng-template">
    <ion-view title="" hide-nav-bar="true" hide-back-button="true" class="body-full-bg">
        <ion-content data-ng-controller="indexCTRL" scroll="false" overflow="scroll">
            <div class="row">
                <div class="col">
                    <div class="logo-white">
                        <img src="img/logo_white.png">
                    </div>
                </div>
            </div>
            <h3 class="index-description">введите сумму</h3>
            <div class="arrow down"><img src="img/arrow-down.png"></div>

            <label class="item item-input">
                <input type="number" class="index-input" placeholder="0₽" ng-model="money">
            </label>
            <button class="button button-full index-submit" ui-sref="tabs.easy" ng-click="btnwork()">
                <img src="img/button_go.png">
            </button>
            <div class="arrow up"><img src="img/arrow-up.png"></div>
            <h3 class="index-description">узнайте, на что можно потратить</h3>
        </ion-content>
        </ion-view>
</script>


<script id="templates/tabs.html" type="text/ng-template">
    <ion-view title="НАСЛАЖДАЙТЕСЬ" hide-back-button="false">
        <ion-content>
            </ion-content>
        </ion-view>
    <ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="Easy" icon="ion-ios-lightbulb" ui-sref="tabs.easy">
            <ion-nav-view name="easy-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Party" icon="ion-ios-pint" ui-sref="tabs.party">
            <ion-nav-view name="party-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Love" icon="ion-heart" ui-sref="tabs.love">
            <ion-nav-view name="love-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Extreme" icon="ion-ios-speedometer" ui-sref="tabs.extreme">
            <ion-nav-view name="extreme-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</script>


<script id="templates/easy.html" type="text/ng-template">
    <ion-view title="Easy">
        <ion-content class="padding" data-ng-controller="secondCTRL">
            <div class="list">
                <div class="card time-card" ng-repeat="(key, val) in cards.easy" ui-sref="carditem" style="background-image: url('{{val.card.prod_0.photo}}');">
                    <div class="item item-text-wrap">
                        <span ng-repeat="card in val.card"><b style="font-size: {{fontsize(130)}}%;">{{card.name}}</b></span>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/love.html" type="text/ng-template">
    <ion-view view-title="Love">
        <ion-content class="padding" data-ng-controller="secondCTRL">
            <div class="list">
                <div class="card time-card" ng-repeat="(key, val) in cards.love" ui-sref="carditem" style="background-image: url('{{val.card.prod_0.photo}}');">
                    <div class="item item-text-wrap">
                        <span ng-repeat="card in val.card"><b style="font-size: {{fontsize(130)}}%;">{{card.name}}</b></span>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/party.html" type="text/ng-template">
    <ion-view view-title="Party">
        <ion-content class="padding" data-ng-controller="secondCTRL">
            <div class="list">
                <div class="card time-card" ng-repeat="(key, val) in cards.party" ui-sref="carditem" style="background-image: url('{{val.card.prod_0.photo}}');">
                    <div class="item item-text-wrap">
                        <span ng-repeat="card in val.card"><b style="font-size: {{fontsize(130)}}%;">{{card.name}}</b></span>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>

<script id="templates/extreme.html" type="text/ng-template">
    <ion-view view-title="Extreme">
        <ion-content class="padding" data-ng-controller="secondCTRL">
            <div class="list">
                <div class="card time-card" ng-repeat="(key, val) in cards.extreme" ui-sref="carditem" style="background-image: url('{{val.card.prod_0.photo}}');">
                    <div class="item item-text-wrap">
                        <span ng-repeat="card in val.card"><b style="font-size: {{fontsize(130)}}%;">{{card.name}}</b></span>
                    </div>
                </div>
            </div>
        </ion-content>
    </ion-view>
</script>


<script type="text/ng-template" id="carditem.html">
    <ion-view title="Хотите приключений?" class="page3">
        <ion-content class="padding">
            <div class="list">
                <div class="card go">
                    <div class="item item-text-wrap name">
                        <center>Катание на воздушном шаре</center>
                    </div>
                    <div class="item item-text-wrap price3">
                        <center>  1000&#8381</center>
                    </div>
                    <div class="item item-text-wrap foto3">
                       <center><div class ="foto"></div></center>
                    </div>
                    <div class="item item-text-wrap foto3t">
                        Катание на воздушном шаре станет для Вас настоящим приключением по необъятным просторам родного края!
                    </div>
                    <div class="item item-text-wrap adress">
                        <i class="icon ion-ios-telephone"></i> 8(914)000-00-00
                    </div>
                    <div class="item item-text-wrap adress">
                        <i class="icon ion-location"></i> Уссурийск
                    </div>
                    <div class="card-plus">
                        +
                    </div>
                </div>
                    <div class="card go">
                        <div class="item item-text-wrap name">
                            <center>Название</center>
                        </div>
                        <div class="item item-text-wrap price3">
                            <center><i class="icon ion-bag"></i>  Цена</center>
                        </div>
                        <div class="item item-text-wrap foto3">
                            Фото
                            Описание
                        </div>
                        <div class="item item-text-wrap adress">
                            <i class="icon ion-ios-telephone"></i> 8(914)000-00-00
                        </div>
                        <div class="item item-text-wrap adress">
                            <i class="icon ion-location"></i> Владивосток, ул.Уборевича 1
                        </div>
                        <div class="card-plus map">
                            <i class="icon ion-map"></i>
                        </div>
                    </div>

                <div class="card go">
                    <div class="item item-text-wrap karta">
                        <center>Выбирайте и отдыхайте</center>
                        <center><img src="../img/karta.png"/></center>
                        <center>Вы уже близко!</center>
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </ion-content>
        <ion-footer-bar class="bar bar-footer bar-energized">
            <div class="title go"><center><i class="icon ion-android-done-all"></center></i></div>
        </ion-footer-bar>
    </ion-view>
</script>
</body>
</html>